.button {
    display: flex;
    width: 102px;
    height: 25px;

    color: #fff;
    background-color: #4469AE;
    border: 0;

    align-items: center;
    justify-content: center;
    cursor: pointer;
}