.wrapper {
    display: flex;
    padding-top: 14px;
    min-height: 56px;
    gap: 6px;

    border-top: 1px solid #d8dadb;
    border-bottom: 1px solid #d8dadb;
}

.wrapper-photo {
    height: 40px;
    width: 40px;

    align-items: flex-start;
}

.text {
    min-height: 40px;
    padding: 4px;

    border: 0;
    resize: none;

    flex-grow: 1;
}